body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
}

.game-container {
    width: 335px;
    height: 335px;
    border: 1px  solid #ccc;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid-cell {
    width: 80px;
    height: 80px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.score-container {
    width: 335px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart-game {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
} 

.grid-cell[data-value] {
    transition: background-color .2s;
}

.new-tile {
    animation: spawntile .3s;
}

@keyframes spawntile {
    from{
        opacity: 0;
        transform: scale(.5);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}